.store-box {
    background-color: #f0f0f0;
    width: 80%;
    border-radius: 5px;
    padding: 5%;
    margin-bottom: 1vh;
}

.store-box-title {
    color: black;
    font-weight: bold;
    margin-bottom: 1vh;
}

.store-box-description {
    color: black;
    margin-bottom: 1vh;
}